/* 
    Document   : MainApp
    Created on : Jan 4, 2013, 3:23:13 PM
    Author     : Aditya Mishra
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.root {
     -fx-background-image: url("background.png");
     -fx-background-size: 100%;
}

.label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

.logo {
    -fx-background-image: url("logo.png");
    -fx-background-size: 100%;
}

#logo-text {
   -fx-font-size: 16px;
   -fx-font-family: "Arial Black";
   -fx-fill: #818181;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

#actiontarget {
  -fx-fill: FIREBRICK;
  -fx-font-weight: bold;
  -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );  
}

.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: normal;
    -fx-background-color: linear-gradient(#FFFFFF, #8F0313);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

.options-text {
   -fx-font-size: 14px;
   -fx-font-family: "Arial Narrow";
   -fx-fill: BLACK;
   -fx-underline: false;
   -fx-text-fill: white;
   -fx-font-family: "Arial Narrow";
   -fx-font-weight: normal;
   -fx-background-color: linear-gradient(#FFFFFF, #8F0313);
   -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
   -fx-border-radius: 5px;
   -fx-background-radius: 7px;
   -fx-opacity: 0.8;
}
.options-text:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}
.options-text-selected {
   -fx-underline: true;
   -fx-text-fill: white;
   -fx-font-weight: bold;
   -fx-opacity: 1.0;
}

#button-save-dirty {
    -fx-background-image: url("saveDirty.png");
    -fx-background-size: 100%;
}

#button-save-Done {
    -fx-background-image: url("saveDirty.png");
    -fx-background-size: 100%;
}

.choice-box {
    /*
    -fx-fill: BLACK;
   -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    */
}

#restoreButton {
	-fx-background-image: url("restore.png");
    -fx-background-size: 100%;
	-fx-opacity: 0.8;
}
#restoreButton:hover {
	-fx-opacity: 1.0;
}

#backupButton {
	-fx-background-image: url("backup.png");
    -fx-background-size: 100%;
	-fx-opacity: 0.8;
}
#backupButton:hover {
	-fx-opacity: 1.0;
}

#closeButton {
    -fx-background-image: url("cancel.png");
    -fx-background-size: 100%;
    -fx-opacity: 0.8;
}
#closeButton:hover {
	-fx-opacity: 1.0;
}

#addButton {
	-fx-background-image: url("addGreen.png");
    -fx-background-size: 100%;
	-fx-opacity: 0.8;
}
#addButton:hover {
	-fx-opacity: 1.0;
}

#removeButton {
	-fx-background-image: url("cancel.png");
    -fx-background-size: 100%;
	-fx-pref-width: 22px;
	-fx-pref-height: 22px;
	-fx-opacity: 0.8;
}
#removeButton:hover {
	-fx-opacity: 1.0;
}
/*
#removeButton :hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}
*/

#saveButton {
	-fx-background-image: url("saveButton.png");
    -fx-background-size: 100%;
	-fx-opacity: 0.8;
}
#saveButton:hover {
	-fx-opacity: 1.0;
}
#printButton {
	-fx-background-image: url("print.png");
    -fx-background-size: 100%;
	-fx-opacity: 0.8;
}
#printButton:hover {
	-fx-opacity: 1.0;
}

#evaluateButton {
	-fx-background-image: url("evaluate.png");
    -fx-background-size: 100%;
	-fx-opacity: 0.8;
}
#evaluateButton:hover {
	-fx-opacity: 1.0;
}

#reportButton {
	-fx-background-image: url("report.png");
    -fx-background-size: 100%;
	-fx-opacity: 0.8;
}
#reportButton:hover {
	-fx-opacity: 1.0;
}

#commitButton {
	-fx-background-image: url("commitToDisk.png");
    -fx-background-size: 100%;
	-fx-opacity: 0.8;
}
#commitButton:hover {
	-fx-opacity: 1.0;
}

#placeButton {
	-fx-background-image: url("placement.png");
    -fx-background-size: 100%;
	-fx-opacity: 0.8;
}
#placeButton:hover {
	-fx-opacity: 1.0;
}
#reportControlPane_printButton {
	-fx-background-image: url("print.png");
    -fx-background-size: 100%;
	-fx-opacity: 0.8;
}
#reportControlPane_printButton:hover {
	-fx-opacity: 1.0;
}

#reportControlPane_backButton {
	-fx-background-image: url("back.png");
        -fx-background-size: 100%;
	-fx-opacity: 0.8;
}
#reportControlPane_backButton:hover {
	-fx-opacity: 1.0;
}

#copyrightText {
    /*-fx-text-fill: white;*/
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: lighter;
    -fx-font-size: 9;
    /*-fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );*/
}

#evalResultPane {
	-fx-border-color: #61a2b1;
	-fx-border-width: 2px;
	-fx-border-style: solid;
	-fx-border-radius: 5px;
}

#tablePane {
	/*-fx-border-color: #61a2b1;*/
	-fx-border-width: 1px;
	-fx-border-style: solid;
        -fx-border-color: gray;
	-fx-border-radius: 5px;
}
#tableView {
	-fx-border-style: none;
	-fx-border-width: 0px;
}

.table-row:last-child
{
    -fx-background-color:#F0E68C;
}

.printPage {
   -fx-font-size: 16px;
   -fx-font-family: "Arial Narrow";
   -fx-font-weight: normal;
   -fx-border-radius: 5px;
   -fx-background-radius: 7px;
   -fx-opacity: 1.0;
}
#companyName {
   -fx-font-size: 18px;
   -fx-font-family: "Arial Bold";
   -fx-font-weight: normal;
}
#footer {
    -fx-font-size: 14px;
}

#qualityCommentTextArea {
    -fx-text-alignment: center;
}

.empReportPaneBorder {
    -fx-border-style: solid;
    -fx-border-width: 2px;
    -fx-border-color: BLUE;
}

#printReportForLabel {
    -fx-font-size: 16px;
   -fx-font-family: "Arial Narrow";
   -fx-font-weight: normal;
   -fx-font-style: italic;
}

.printReportTextStyle {
    -fx-font-size: 16px;
   -fx-font-family: "Arial";
   -fx-font-weight: bold;
}

#helpPageAnchor {
    -fx-border-color: #61a2b1;
    -fx-border-width: 2px;
    -fx-border-style: solid;
    -fx-border-radius: 5px;
}

